beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
Cython==0.29.7
h5py==2.9.0
idna==2.8
pdbx==1.0
PyLyrics==1.1.0
python-utils==2.3.0
PyYAML==5.1
requests==2.22.0
soupsieve==1.9.2
urllib3==1.26.5
